click==6.6
cycler==0.10.0
decorator==4.0.9
enum34==1.1.4
gnureadline==6.3.3
Jinja2==2.8
MarkupSafe==0.23
numpy==1.10.1
pathlib2==2.1.0
pbr==1.8.1
pexpect==4.0.1
pickleshare==0.7.2
ptyprocess==0.5.1
py==1.4.31
pyaccumulo==1.5.0.8
pyparsing==2.1.1
pyquchk==0.5.3
pytest==2.9.1
python-magic==0.4.10
pytz==2016.3
PyYAML==3.11
redis==2.10.5
self==0.0.5
simplegeneric==0.8.1
simplejson==3.8.2
six==1.10.0
stevedore==1.12.0
thrift==0.9.3
total-ordering==0.1.0
traitlets==4.2.1